
.category
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    border: 1px solid;
}

.navbar
{
    display: flex;
    justify-content: space-around;
}