
body
{
    margin: 0;
}
#root
{
    padding: 1vw;
    text-decoration: underline;
}
.form
{
    padding: 1vw;
    width: 28%;
    margin: auto;
    margin-bottom: .5vw;
}
.submit
{
    outline: none;
    width: 99.9%;
    margin: auto;
    height: 2vw;
    padding: .5vw;
    font-size: .8vw;
}
.textcontent
{
    outline: none;
    width: 96%;
    margin: auto;
    padding: .5vw;
    height: 2vw;
    font-size: 1.5vw;
    margin-bottom: .5vw;
}
.LogoImage
{
    width: 99%;
    height: 99.9%;
}
.imagebox
{
    width: 10vw;
    margin: auto;
    display: flex;
    margin-bottom: .5vw;
}
.table
{
    width: 37.1%;
    padding: .5vw;
    margin: auto;
}
.th1
{
    border: 1px solid black;
    font-size: 1.8vw;
    padding: .2vw;
    text-align: left;
    text-decoration: none;
}
.th2
{
    border: 1px solid;
    width: 20%;
    font-size: 1.8vw;
    padding: .4vw;
}
.td1
{
    border: 1px solid;
    font-size: 1.8vw;
    padding: .4vw;
    text-align: left;
    text-decoration: none;
}
.td2
{
    border: 1px solid;
    font-size: 1.8vw;
    width: 100%;
    padding: .4vw;
}